@font-face {
    font-family: Nordic-Bold;
    src: url("./fonts/norse-bold-webfont.woff2");
}

:root{
    --banner-font: Nordic-Bold;
    --input-min-width: 20vw;
    --label-font-size: 0.75rem;
    --input-font-size: 1.5rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
}

.left-container {
    height: 100%;
    width: 40%;
    /* border: 2px solid black; */
    background-image: url("./img/bgimg.jpg");
}

.picture-credits {
    width: inherit;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 1rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.picture-credits a {
    color: white;
    font-family: inherit;
}

.banner {
    width: 100%;
    height: 20vh;
    margin-top: 25vh;
    padding: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
}

.banner img {
    height: 17vh;
    aspect-ratio: 1/1;
}

.banner h1 {
    color: white;
    font-size: 10rem;
    font-family: var(--banner-font), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.right-container {
    height: 100%;
    width: 60%;
    /* border: 2px solid red; */
    font-size: 1.5rem;
    font-family: Arial, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.disclaimer {
    color: rgb(238, 100, 100);
    display: inline-block;
    margin-top: 2rem;
}

.right-container > div {
    /* border: 2px solid blue; */
    
}

.right-container > div:nth-of-type(odd) {
    background-color: rgba(173, 216, 230, 0.35);
}

.sub-1 {
    height: 35vh;
    padding-top: 15vh;
    padding-left: 3rem;
}

.sub-2 {
    height: 30vh;
    box-shadow: 0 7px 7px 0 darkgrey;
    padding-top: 2rem;
    padding-left: 3rem;
}

.sub-2 > h2 {
    font-size: 1.5rem;
    font-weight: 550;
}



.sub-3 {
    height: 35vh;
    padding-top: 2rem;
    padding-left: 3rem;
}

.sub-3 > span {
    display: inline-block;
    margin-top: 40px;
}

.sub-3 a {
    color: rgb(11 184 214);
    text-decoration: none;
    cursor: pointer;
    font-weight: 800;
}

label {
    color: rgb(54, 54, 54);
    font-size: var(--label-font-size);
    text-transform: uppercase;
    min-width: var(--input-min-width);
}

form {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 3rem;
}

form > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
    min-width: var(--input-min-width);
    font-size: var(--input-font-size);
    padding: 0.2ch;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: 1px solid rgb(11 184 214);
}

input[type="text"]:invalid,
input[type="tel"]:invalid,
input[type="email"]:invalid,
input[type="password"]:invalid {
    outline: 1px solid rgb(238, 100, 100);
}

button {
    display: block;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 10px 40px 10px 40px;
    background-color: rgb(11 184 214);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 3px 5px 0 darkgrey;
    cursor: pointer;
}